.text {
    font-family: Garamond;
    padding: 20px 20px 20px 20px;
    display: block;
    width: 20%;
}

.unselected {
    width: 16.67%;
    font-size: 100%;
}

.selected {
    font-size: 250%;
    width: 33.33%;
    color: lightgoldenrodyellow
}

.text:hover {
    color: black;
}
